*{
    background-color: rgb(235, 232, 227);
}

h1,h2, h3,h4,img,p,li{
    margin-left: 150px;
    margin-bottom: 10px;
}


h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

p, li{
    font-size: 20px;
}

h1{
    font-size: 36px;
}

img{
    margin-left: 200px;
}

.welcome{
    background-color: rgb(191, 170, 145);
}